__pycache__/
*.pyc
.env
.env.*
!.env.example
node_modules/
dist/

merged_tina/model.safetensors

tina-onnx-model/model.onnx_data
tina-onnx-model/onnx/model.onnx_data
tina-onnx-model/onnx/model.onnx
tina-onnx-model/onnx/model_quantized.onnx